


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
li {
  padding: 10px 20px;
  background: url(../imagens/seta.png) no-repeat left center;
}
*/
ul a{
  width: 200px;
  height: 40px;
  color: blue;
  display: block;
  color: #000;
  text-decoration: none;
  text-indent: 40px; /*moeve o texto para direita*/
  line-height: 40px;
  background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;

}

a:hover, .selecionado a {
  background-position: right bottom;
  background-color: #f99200;
  color: #fff;
}

#home #navegacao .home a,
#c #navegacao .c a,
#java #navegacao .java a{
  background-position: right bottom;
  background-color: #f99200;
  color: #fff;
}

/*
#menuvertical .menuvertical a,
#c .c{
  background-position: right bottom;
  color: #fff;
}
